@import '../a_common/common.scss';

/*  CHECKBOX  */

.checkbox {
  @include themeify($themes) {
    $shadow: 0.3rem 0.3rem 0.6rem themed('greyLight-2'),
      -0.2rem -0.2rem 0.5rem themed('white-0');
    $inner-shadow: inset 0.2rem 0.2rem 0.5rem themed('greyLight-2'),
      inset -0.2rem -0.2rem 0.5rem themed('white-0');

    *,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
    }

    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 6rem);
    grid-gap: 3rem;
    justify-content: center;
    input {
      display: none;
    }

    &__1,
    &__2 {
      width: 6rem;
      display: flex;
      justify-content: center;
      label {
        box-shadow: $shadow;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        width: 2.8rem;
        height: 2.8rem;

        &:hover i {
          color: themed('primary');
        }

        i {
          font-size: 1.8rem;
          font-weight: 700;
          color: themed('greyDark-0');
          transition: 0.3s ease;
        }
      }

      & input:checked {
        & ~ label {
          box-shadow: $inner-shadow;
          i {
            color: themed('primary');
          }
        }
      }
    }
  }
}
